@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

img {
    object-fit: cover;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.dspl-flx-arr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.size-icon {
    width: 25px;
    height: 25px;
}

.bord-posit {
    position: relative;
    top: 5px;
    border-radius: 20px;
}

.tex-shad {
    text-shadow: 0px 12px 4px rgb(59, 51, 51);
}

.global {
    background-color: rgb(97 89 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container-game {
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px 5px 20px 5px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgb(162, 159, 159);
}

.game {
    width: 90%;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid rgb(97 89 238);
}

.perso {
    width: 20px;
    height: 50px;
    position: relative;
    top: 150px;
}

.perso img {
    width: 100%;
    height: 100%;
}

.obstacles {
    width: 20px;
    height: 20px;
    background-color: rgb(222, 71, 71);
    position: relative;
    top: 130px;
    left: 98%;
    border-radius: 50%;
}

.control {
    margin-top: 20px;
    text-align: center;
}

.control a,
button {
    padding: 10px 50px;
    border-radius: 15px;
    box-shadow: 1px 4px 10px 0 rgb(59, 51, 51);
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.control button {
    color: #6E0000;
}

.control a {
    color: white;
}

/* Animation personnage qui saute */

@keyframes identifier {}


/* Responsive */
@media (max-width: 1234px) {
    .obstacles {
        left: 97%;
    }
}

@media (max-width:119px) {
    .obstacles {
        left: 96%;
    }
}

@media (max-width: 885px) {
    .obstacles {
        left: 95%;
    }
}

@media (max-width: 617px) {
    .obstacles {
        left: 94%;
    }

    .dspl-flx-arr {
        display: grid;
    }
}

@media (max-width: 405px) {
    .obstacles {
        left: 93%;
    }
}

@media (max-width: 350px) {
    .obstacles {
        left: 91%;
    }

    .control {
        display: grid;
    }
}